@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

@import "reset.css";
@import "variables.css";

/* components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/alt-screen-header.css";
@import "components/no-mobile.css";

/* screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/chats.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";
body {
  font-family: "Open Sans", sans-serif;
  height: 1000vh;
  padding-top: 40px;
  color: white;
  background-image: url("https://images.unsplash.com/photo-1532767153582-b1a0e5145009?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}
.main-screen {
  padding: 0px var(--horizontal-space);
  margin-top: 70px;
}
