.user-component {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s ease-in-out;
  padding: 5px;
  border-radius: 20px;
}

.user-component:hover {
  background-color: rgba(155, 187, 216, 0.1);
  color: #e86e4a;
}
.user-component__column:first-child {
  display: flex;
  align-items: center;
}
.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 40%;
  margin-right: 20px;
}
.user-component__title {
  font-weight: 600;
  font-size: 22px;
}
.user-component__subtitle {
  margin-top: 8px;
  font-size: 17px;
}

.user-component__avatar--xl {
  width: 80px;
  height: 80px;
}

.user-component__avatar--sm {
  width: 60px;
  height: 60px;
}

.user-component__title--not-bold {
  font-weight: 400;
}

.user-component__column:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.user-component__time {
  margin-bottom: 10px;
  display: block;
}
.user-component__chats {
  margin-bottom: 20px;
}
